.node-listing-form .form-item .form-item {
  margin-bottom: 0;
}

.node-listing-form .container-inline-date {
  clear: none;
}
.node-listing-form .container-inline-date .date-padding {
  padding: 0;
}
.node-listing-form .field-name-field-listing-list-date .start-date-wrapper {
  max-width: 225px;
  float: left;
}

.node-listing-form .rooms td {
  padding: 5px;
  max-width: 100px;
}
.node-listing-form .rooms td:first-child {
  width: 20%;
  font-weight: bold;
  text-align: right;
}

.node-listing-form .field-agents{
  margin-bottom: 1em;
  overflow: auto;
}
.node-listing-form .field-agents .form-checkboxes .form-item {
  float: left;
  width: 200px;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.node-listing-form #edit-field-listing-lot,
.node-listing-form #edit-field-listing-block,
.node-listing-form #edit-field-listing-section {
  width: 31%;
  float: left;
  margin-right: 3.3%;
}
.node-listing-form #edit-field-listing-section {
  margin-right: 0;
}
.node-listing-form #edit-field-listing-street {
  clear: left;
}
.node-listing-form .field-name-field-seller-first-name,
.node-listing-form .field-name-field-seller-last-name,
.node-listing-form .field-name-field-buyer-first-name,
.node-listing-form .field-name-field-buyer-last-name {
  width: 49%;
  float: left;
  margin-bottom: 1em;
}
.node-listing-form .field-name-field-seller-first-name,
.node-listing-form .field-name-field-buyer-first-name {
  margin-right: 2%;
}
.node-listing-form .field-name-field-seller-company,
.node-listing-form .field-name-field-buyer-company {
  clear: left;
}
.node-listing-form .field-name-field-seller-address,
.node-listing-form .field-name-field-buyer-address {
  clear: left;
}
.node-listing-form .locality-block .form-item {
  max-width: 35%;
}
.node-listing-form .field-name-field-seller-email-address,
.node-listing-form .field-name-field-seller-phone-number,
.node-listing-form .field-name-field-seller-phone-extension,
.node-listing-form .field-name-field-buyer-email-address,
.node-listing-form .field-name-field-buyer-phone-number,
.node-listing-form .field-name-field-buyer-phone-extension {
  width: 25%;
  float: left;
  margin-right: 2em;
}
.node-listing-form .field-name-field-seller-phone-extension,
.node-listing-form .field-name-field-buyer-phone-extension {
  width: 10%;
}
.node-listing-form .field-name-field-seller-email-type,
.node-listing-form .field-name-field-seller-phone-type,
.node-listing-form .field-name-field-buyer-email-type,
.node-listing-form .field-name-field-buyer-phone-type {
  width: 10%;
  float: left;
}
.node-listing-form #field-seller-phone-values .form-submit,
.node-listing-form #field-seller-email-values .form-submit,
.node-listing-form #field-buyer-phone-values .form-submit,
.node-listing-form #field-buyer-email-values .form-submit {
  position: relative;
  top: 19px;
}
.node-listing-form .field-name-field-listing-list-date .fromto {
  display: inline-block;
  float: left;
  position: relative;
  top: 5px;
  padding: 0 5px;
}
.node-listing-form #field-listing-seller-values td {
  position: relative;
}
.node-listing-form .field-name-field-seller-internal-only {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #666;
  text-align: right;
  max-width: 50%;
}
.node-listing-form .field-name-field-seller-internal-only input+label {
  color: #666;
  font-weight: bold;
}
.node-listing-form .field-name-field-seller-internal-only input:checked+label {
  color: #C33;
}
.node-listing-form .show-agents {
  padding-left: 1em;
}

.node-listing-form .image-preview,
.node-listing-form .file,
.node-listing-form .file-size {
  display: none;
}

.node-listing-form .field-name-field-listing-featured-photo {
  position: relative;
}
.node-listing-form .field-name-field-listing-featured-photo .form-submit {
  position: absolute;
  bottom: 0;
  right: 0;
}
.node-listing-form .image-widget-data .form-item {
  width: 49%;
  float: left;
  margin-right: 1%;
}
.node-listing-form .image-widget-data .form-item .description {
  white-space: normal;
}
.node-listing-form .image-widget-data .imagefield-focus {
  clear: left;
}

#views-exposed-form-c21-reports-listing-report .views-widget-filter-field_listing_list_date_value2 .views-widget > div {
  float: left;
}
#views-exposed-form-c21-reports-listing-report .views-submit-button,
#views-exposed-form-c21-reports-listing-report .views-reset-button {
  margin-top: 1.5em;
}

