#views-exposed-form-c21-reports-listing-report .views-exposed-widgets .views-exposed-widget label {
  display: block;
}
#views-exposed-form-c21-reports-listing-report .views-widget-filter-field_listing_list_date_value2 .views-widget > div {
    float: left;
}
#views-exposed-form-c21-reports-listing-report .views-submit-button,
#views-exposed-form-c21-reports-listing-report .views-reset-button {
    margin-top: 1.5em;
}

