*, *:before, *:after {
  @include box-sizing('border-box');
}


body {
  font-family: 'Muli', 'Hevetica', 'Arial';
  padding: 0 $spacing_default (8 * $spacing_default) $spacing_default;
  background: $color_gray_light;
}

a {
  color: #000;
  text-decoration: none;
}

#main {
  margin-top: 1em;
}

#page-title {
  font-size: $font_size_title;
  font-weight: bold;
}

.more-link {
  display: inline-block;
  padding: 0 (.5 * $spacing_default);
  color: #cf0;
}

.links {
  &.inline {
    li {
      display: inline;
    }
  }
}

.label-inline {
  display: inline-block;
  margin-right: $spacing_default;
}

li.krumo-footnote {
  overflow: hidden;

  span.krumo-call {
    font-size: 8px !important;
  }
}

