.node-page {
  h1 {
    font-weight: bold;
    font-size: $font_size_title;
    color: $color_green;
    margin-bottom: $spacing_default;
  }

  h3 {
    font-weight: bold;
    font-size: $font_size_base;
    margin-bottom: $spacing_default;
  }

  p {
    margin: $spacing_default;
  }

  blockquote {
    padding: $spacing_default;
    background: rgba(255,255,255, .25) url(../images/quote.png) no-repeat $spacing_default $spacing_default;
    padding-left: 35px;
    margin-bottom: $spacing_default;
    margin-left: $spacing_large;
    border-bottom: 1px solid $color_gold;
    font-size: .8 * $font_size_base;
  }
}

.node-type-page {
  #block-views-c21-agents-owners {
    .agent {
      width: 75%;
    }
    @include clearfix();
  }
  #block-views-c21-agents-agents {
    .agent {
      width: 45%;
    }
    @include clearfix();
  }

  .agent {
    float: left;
    margin: $spacing_default;
    font-size: .8 * $font_size_base;
  }

  @include breakpoint($bp500) {
    #block-views-c21-agents-owners {
      .agent {
        width: 45%;
      }
    }
  }
  @include breakpoint($bp650) {
    #block-views-c21-agents-agents {
      .agent {
        width: 30%;
      }
    }
  }

}
