////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////


///////////////////////
// Breakpoints
///////////////////////
$bp500: 500px 699px;
$bp700: 700px;


///////////////////////
// Colors
///////////////////////
$color_green:    #125819;


///////////////////////
// Text
///////////////////////
$font_size_base: 1.2em;
$font_size_callout: 1.4em;
