////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////


///////////////////////
// Breakpoints
///////////////////////
$bp500: 500px 699px;
$bp700: 700px;


///////////////////////
// Colors
///////////////////////
$color_green:    #125819;
$color_green_light: $color_green + rgba(50,50,50,1);
$color_green_very_light: #E5FAE7;
$color_gold: #ECB429;
$color_gray: #CCC;
$color_gray_light: #EEE;

///////////////////////
// Text
///////////////////////
$font_size_base: 1.2em;
$font_size_title: 1.4em;

///////////////////////
// Layout
///////////////////////
$spacing_default: .5em;
$spacing_default_neg: -1 * .5em;
$spacing_large: 1em;
