////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////


///////////////////////
// Breakpoints
///////////////////////
$bp400: 400px;
$bp500: 500px;
$bp550: 550px;
$bp650: 650px;
$bp800: 800px;
$bp900: 900px;
$bp1075: 1075px;

///////////////////////
// Colors
///////////////////////
$color_green:    #125819;
$color_green_light: lighten($color_green, 10%);
$color_green_very_light: lighten($color_green, 25%);
$color_gold: #ECB429;
$color_gold_light: #D8D4C9;
$color_gray: #CCC;
$color_gray_light: #EEE;
$color_gray_dark: #999;
$color_red: #940b24;

///////////////////////
// Text
///////////////////////
$font_size_base: 1.2em;
$font_size_title: 1.4em;

///////////////////////
// Layout
///////////////////////
$spacing_default: .5em;
$spacing_default_neg: -1 * .5em;
$spacing_large: 1em;
