.entity-drealty-listing {
  .photos {
    max-height: 25em;
    overflow: auto;

    @include breakpoint($bp500) {
      @include clearfix();
      img {
        float: left;
        width: 49%;
        margin-bottom: $spacing_default;

        &:nth-child(odd) {
          margin-right: 2%;
        }
      }
    }
  }

  .group-mls-photos {
    @include breakpoint($bp800) {
      @include float-span(4);
    }
    margin-right: 0;
  }

  .lt-ie9 & {
    @include clearfix();
    @include float-span(4);
    margin-right: 0;
    img {
      float: left;
      width: 49%;
      margin-bottom: $spacing_default;

      &:nth-child(odd) {
        margin-right: 2%;
      }
    }
  }
}
