.node-type-listing,
.entity-drealty-listing {
  .links {
    &.inline {
      text-align: right;

      a {
        display: inline-block;
        padding: $spacing_default;
        background: #999;
        color: #fff;
        @include border-radius();
      }
    }
  }

  .mls-number {
    color: #999;
    font-size: .75em;
  }

  .list-price {
    font-size: $font_size_title;
    display: block;
    position: relative;
    padding: $spacing_default;
    margin-bottom: -1 * (.7 * $font_size_title + (2 * $spacing_default));
    top: -1 * (.8 * $font_size_title + (2 * $spacing_default));
    background: rgba(255,255,255,.65);
    text-align: right;
    font-weight: bold;
  }

  .description {
    margin: $spacing_default 0 (2 * $spacing_default) 0;
  }

  .group_statistics, {
    @include float-span(3, 'first');

    .stat {
      diaplay: block;
      width: 3em;
      white-space: nowrap;
      float: left;
    }
  }
  .group_location_details {
    @include float-span(3, 'last');
  }

  .agents {
    clear: both;
  }

  @include breakpoint($bp500) {
    .group_statistics {
      @include float-span(2, 'first');
    }
    .group_location_details {
      @include float-span(2);
    }
    .agents {
      @include float-span(2, 'last');
      clear: none;
    }
  }

}

.entity-drealty-listing {
  .photos {
    max-height: 25em;
    overflow: auto;

    @include breakpoint($bp500) {
      @include clearfix();
      img {
        float: left;
        width: 49%;
        margin-bottom: $spacing_default;

        &:nth-child(odd) {
          margin-right: 2%;
        }
      }
    }
  }
}
