.search-form {
  position: fixed;
  bottom: -1px;
  left: 50%;
  width: 96%;
  margin-left: -48%;
  padding: 1em;

  &.open {
    @include transition-property('bottom');
    @include transition-duration(.35s);
    bottom: -1px;
  }
  &.closed {
    @include transition-property('bottom');
    @include transition-duration(.35s);
    bottom: -375px;
  }

  select {
    width: 100%;
  }

  div.views-widget-filter-fts_field_listing_list_price,
  div.views-widget-filter-keyword,
  div.views-submit-button {
    width: 100%;
  }
  .views-exposed-widget {
    position: relative;
    width: 30%;
    padding: 0 0 1.25em 0;
    margin-bottom: .25em;
    margin-right: 5%;

    &.views-widget-filter-im_field_listing_township,
    &.views-widget-filter-im_field_listing_school_district {
      width: 47.5%;
    }

    &.views-widget-filter-fts_field_listing_acreage,
    &.views-widget-filter-im_field_listing_school_district {
      margin-right: 0;
    }

    .slider-num {
      position: absolute;
      bottom: 0;
    }
    .slider-num-min {
      left: .5em;
    }
    .slider-num-max {
      right: .5em;
    }
  }
}
