#block-c21-c21-footer {
  padding-top: 2 * $spacing_default;
  margin-top: 2 * $spacing_default;
  border-top: 3px solid $color_gold;
  text-align: center;
  font-size: .75 * $font_size_base;

  .address {
    width: 48%;
    float: left;
    margin: $spacing_default 1% 3*$spacing_default 1%;

    span{
      display: block;
    }
    a {
      display: block;
      font-weight: bold;
    }
  }

  .copyright {
    clear: both;
    color: $color_gray_dark;
    font-size: .65 * $font_size_base;
    margin: $spacing_default;
    padding: $spacing_default;
  }
}

#footer-sitemap {
  background: lighten($color_gold_light, 15%);
  padding: $spacing_default;
  border-top: 1px solid $color_gray_dark;
  border-bottom: 1px solid $color_gray_dark;

  .title {
    color: $color_gray_dark;
    font-style: italic;
    padding: 0;
    margin: 0;
  }
  .menu-footer-features {
    @include float-span(3, 'first');
  }
  .menu-footer-places {
    @include float-span(3, 'last');
  }

  ul {
    margin-left: $spacing_default;
    li {
      float: none;

      a:hover {
        color: $color_gold;
      }
    }
  }
}
