.featured-listings,
.recently-added-listings {
  @include clearfix();
  margin-bottom: 2 * $spacing_large;

  .more-link {
    display: block;
    text-align: center;
    margin: .5 * $spacing_default $spacing_default 0 0;

    a {
      color: $color_gray_dark;
    }
    a:hover {
      color: black;
    }
  }
}

.search-featured-wrap {
  @include clearfix();
}

.search-featured-wrap .featured-listings {
  @include breakpoint($bp800) {
    @include float-span(4, 'last');

    header h2 {
      display: none;
    }
  }
}
