.featured-listings,
.recently-added-listings {
  @include clearfix();
  margin-bottom: 2 * $spacing_large;

  header h2 {
    font-size: $font_size_title;
    font-weight: bold;
    margin-bottom: $spacing_default;
  }

  .more-link {
    display: block;
    text-align: center;
    margin: .5 * $spacing_default $spacing_default 0 0;

    a {
      color: $color_gray_dark;
    }
  }
}
