.featured-listings,
.recently-added-listings {
  @include clearfix();
  margin-bottom: 2 * $spacing_large;

  .more-link {
    display: block;
    text-align: center;
    margin: .5 * $spacing_default $spacing_default 0 0;
    clear: both;

    a {
      color: $color_gray_dark;
    }
    a:hover {
      color: black;
    }
  }
}
.recently-added-listings {
  @include background(linear-gradient(top, lighten($color_gold_light, 15%), $color_gold_light));
  @include box-shadow(0 5px 5px rgba(0, 0, 0, 0.35) inset);
}

.search-featured-wrap {
  @include clearfix();
}

.search-featured-wrap .featured-listings {
  @include breakpoint($bp800) {
    @include float-span(4, 'last');

    header h2 {
      display: none;
    }
  }

  .lt-ie9 & {
    @include float-span(4, 'last');

    header h2 {
      display: none;
    }
  }
}
