#header {
  @include clearfix();
  position: relative;
  margin: 0 $spacing_default_neg $spacing_large $spacing_default_neg;
  padding-top: $spacing_large;
  padding-left: $spacing_default;
  border-bottom: 3px solid $color_gold;
  @include background(
    url("../images/lake.jpg") no-repeat center left
  );

  .lt-ie9 & {
    background-image: url("../images/lake.jpg");
  }

  .main-menu {
    position: absolute;
    bottom:  -10px;
    left:  0px;
    width:  100%;
    padding: 3px 0;
    margin:  0;
    background-color: $color_gold;
    font-size: .8 * $font_size_base;

    a {
      color:  white;
      display:  inline-block;
      padding:  2px $spacing_default;
    }

    @include breakpoint($bp650) {
      width:  auto;
      left: auto;
      right:  0;
      bottom: -3px;
    }
  }
}

#offices {
  @include float-span(3, 'last');
  color: $color_gold;
  text-shadow: 1px 1px 2px black;

  .office-phone {
    display: block;
    font-size: .9 * $font_size_base;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px black;
  }

  li:first-child {
    margin: $spacing_default 0 2*$spacing_default 0;
  }

  @include breakpoint($bp400) {
    .office-phone {
      font-size: $font_size_title;
    }
  }

  @include breakpoint($bp650) {
    @include float-span(4, 'last');

    li:first-child {
      margin: 9 * $spacing_default 0 0 0;
    }
    li {
      width: 50%;
      float: left;
      margin: 9 * $spacing_default 0 0 0;
    }
  }

  @include breakpoint($bp800) {
    font-size: 1.05 * $font_size_base;
    .office-phone {
      font-size: 1.05 * $font_size_title;
    }

    li:first-child {
      margin: 5 * $spacing_default 0 0 0;
    }
    li {
      margin: 5 * $spacing_default 0 0 0;
    }
  }

  .lt-ie9 & {
    @include float-span(4, 'last');
    font-size: 1.05 * $font_size_base;
    .office-phone {
      font-size: 1.05 * $font_size_title;
    }

    li:first-child {
      margin: 5 * $spacing_default 0 0 0;
    }
    li {
      width: 50%;
      float: left;
      margin: 5 * $spacing_default 0 0 0;
    }
  }
}
