#header {
  @include clearfix();
  margin-top: 1em;
}

#offices {
  @include float-span(3, 'last');

  .office-phone {
    display: block;
    font-size: $font_size_title;
    font-weight: bold;
  }

  li:first-child {
    margin-top: .45em;
    margin-bottom: 1.15em;
  }
}
