#header {
  @include clearfix();
  margin: 0 $spacing_default_neg $spacing_large $spacing_default_neg;
  padding-top: $spacing_large;
  @include background(linear-gradient(top, $color_gray_light, $color_gray));
  border-bottom: 3px solid $color_gold;
}

#offices {
  @include float-span(3, 'last');

  .office-phone {
    display: block;
    font-size: $font_size_title;
    font-weight: bold;
  }

  li:first-child {
    margin-top: .45em;
    margin-bottom: 1.15em;
  }
}
