input {
  width: 100%;
  font-size: 1.25em;
  padding: .15em;
  border: 1px solid #aaa;
  @include border-radius();
}

input[type="button"],
input[type="submit"],
button {
  cursor: pointer;
  @include sassy-button("matte", 10px, $font_size_base, $color_green, $color_green_light);
}

.ui-slider-horizontal .ui-slider-range {
  @include background(linear-gradient(top, $color_green_light, $color_green));
}
