input {
  width: 100%;
  font-size: 1.25em;
  padding: .15em;
  border: 1px solid #aaa;
  @include border-radius();
}

input[type="button"],
input[type="submit"] {
  cursor: pointer;
  color: #fff;
  @include text-shadow(#666 1px 1px 2px);
  @include background(linear-gradient(top, #999, #ccc));

  &:hover {
    @include box-shadow(#666 1px 1px 2px);
  }
}

.ui-slider-horizontal .ui-slider-range {
  @include background(linear-gradient(top, $color_green + rgba(50,50,50,1), $color_green));
}
