#logo a {
  display: block;
  width: 300px;
  height: 190px;
  @include replace-text('../images/c21hull_logo.svg');

  @include degrade-from(svg, false) {
    @include replace-text('../images/c21hull_logo.png');
  }
}
